*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #BB8ED0;
    text-align: center;
}

h1{
    color: #fff;
    justify-content: center;
}

.container{
    height: 80vh;
    width: auto;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.4vmin;
    column-gap: 1.4vmin;
    justify-content: center;
    align-items: center;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:20px;
    border: 1px solid #76153C;
    box-shadow: 10px 10px 15px 1px black ;
    background-color: #E7DEAF;
    font-size: 10vmin;
    color: black;
}

#reset-btn{
    background-color: black;
    border-radius: 1rem;
   padding: 1rem;
   color: #fff;
   font-size: 25px;  
}

#newGame{
    background-color: black;
    border-radius: 1rem;
   padding: 1rem;
   color: #fff;
   font-size: 25px;  
}
#msg{
    color: white;
    font-size:5vmin;
}
.msg-container{
    height:30vmin ;
}
.hide{
    display: none;
}